* {
    margin: 0;
    padding: 0;
}

#body {
    overflow-x: hidden;
    font-family: 'Gemunu Libre', sans-serif;
    background-position-x: center;
    background-image: url(../img/background.jpg);
    background-size: 102%;
    background-repeat: no-repeat;
}

#form {
    margin-top: 16vw;
    background-color: rgba(255, 255, 255, 20%);
}

#pic-type,
#date,
#start-date,
#end-date {
    background-color: rgba(255, 255, 255, 20%);
}

#sol,
#cam-type,
#page,
#card-white {
    background-color: rgba(255, 255, 255, 20%);
}

#date-label,
#date,
#start-label,
#start-date,
#end-label,
#end-date,
#march-tags {
    display: none;
}

#cards {
    width: 103%;
    margin-top: 15vw;
    background-image: url(../img/cards-background.jpg);
    background-size: 100%;
    visibility: hidden;
}

#messages {
    position: fixed;
    top: 5vw;
    left: 1vw;
}

#fixed {
    width: 25vw;
    height: 6vw;
    background-color: rgba(255, 255, 255, 20%);
}

#card-none {
    background-color: rgba(255, 255, 255, 0%);
}

#reload {
    display: none;
}

@media only screen and (max-width: 1030px) {
    #body {
        background-position-x: center;
        background-size: 114%;
    }
}

@media only screen and (max-width: 800px) {
    #body {
        background-position-x: center;
        background-size: 150%;
    }

    #cards {
        width: 105%;
    }
}

@media only screen and (max-width: 600px) {
    #body {
        background-position-x: center;
        background-size: 170%;
    }

    #cards {
        width: 108%;
    }
}

@media only screen and (max-width: 490px) {
    #body {
        background-position-x: center;
        background-size: 200%;
    }
}

@media only screen and (max-width: 350px) {
    #body {
        background-position-x: center;
        background-size: 270%;
    }

    #cards {
        width: 107%;
    }
}
